<?xml version="1.0"?>
<robot
    xmlns:xacro="http://www.ros.org/wiki/xacro" name="gimbalrotor" >
  <xacro:arg name="robot_name" default="gimbalrotor" />
  <xacro:arg name="rotor_visual_speed_rate" default="20.0" />

  <xacro:include filename="$(find gimbalrotor)/robots/tri_omni/gimbalrotor.urdf.xacro" />

  <xacro:macro name="rotor_control_joint" params="id">
    <joint name="rotor${id}">
      <command_interface name="effort">
        <param name="min">${min_force}</param>
        <param name="max">${max_force}</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">${0}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="gimbal_control_joint" params="name">
    <joint name="${name}">
      <command_interface name="position">
        <param name="min">-2.0</param>
        <param name="max">2.0</param>
      </command_interface>
      <state_interface name="position">
        <param name="initial_value">${0}</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </xacro:macro>

  <ros2_control name="aerial_robot_sim_system" type="system">
    <hardware>
      <plugin>gz_ros2_control/AerialRobotHwSim</plugin>
      <param name="m_f_rate">${m_f_rate}</param>
      <param name="rotor_visual_speed_rate">$(arg rotor_visual_speed_rate)</param>
    </hardware>
    <xacro:rotor_control_joint id="1"/>
    <xacro:rotor_control_joint id="2"/>
    <xacro:rotor_control_joint id="3"/>
    <xacro:gimbal_control_joint name="gimbal1_roll"/>
    <xacro:gimbal_control_joint name="gimbal1_pitch"/>
    <xacro:gimbal_control_joint name="gimbal2_roll"/>
    <xacro:gimbal_control_joint name="gimbal2_pitch"/>
    <xacro:gimbal_control_joint name="gimbal3_roll"/>
    <xacro:gimbal_control_joint name="gimbal3_pitch"/>
    <sensor name="spinal_imu">
      <state_interface name="orientation.x"/>
      <state_interface name="orientation.y"/>
      <state_interface name="orientation.z"/>
      <state_interface name="orientation.w"/>
      <state_interface name="angular_velocity.x"/>
      <state_interface name="angular_velocity.y"/>
      <state_interface name="angular_velocity.z"/>
      <state_interface name="linear_acceleration.x"/>
      <state_interface name="linear_acceleration.y"/>
      <state_interface name="linear_acceleration.z"/>
    </sensor>
    <sensor name="spinal_mag">
      <state_interface name="field_tesla.x"/>
      <state_interface name="field_tesla.y"/>
      <state_interface name="field_tesla.z"/>
    </sensor>
  </ros2_control>

  <!-- gazebo plugin for default controller and sensors -->
  <xacro:include filename="$(find aerial_robot_simulation)/xacro/spinal.gazebo.xacro" />
  <xacro:gazebo_spinal robot_name="$(arg robot_name)" mag_frame="fc" />

</robot>
